/* General */
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  /* Spacing */
  --page-width: 1280px;
  --navbar-height: 72px;

  /* Color Palette */
  --dark: #1b1b1b;
  --light: #ffffff;
  --accent: #40afa8;
}

a {
  color: #1a9fff;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 56px;
  line-height: 1.2em;
}
h4 {
  font-size: 24px;
}
p {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

/* Navigation */
.nav-link {
  margin: 0 4px;
  border-radius: 1.4em;
  background: #00000000;
  color: var(--light);
  text-decoration: none;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.2s;
}

.nav-link:hover {
  background: var(--light) !important;
  color: var(--dark);
}

.nav-span {
  padding: 0.7em 0.9em;
  font-size: 0.9em;
  margin: unset;
  display: block;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border: 4px solid transparent;
  border-radius: 100vw;
  background-clip: content-box;
}
